// Custom styles.

//背景图片
body {
    background:url(/images/background.jpg);
    background-repeat: no-repeat; //是否重复出现
    background-attachment:fixed;  //定义背景图片随滚动轴的移动方式
    background-position:50% 50%;  //设置背景图像的起始位置
    background-size:cover; //为可能有助于大分辨率下背景图的显示
}

//透明度设置
.header-inner { //菜单栏
  background: rgba(255,255,255,0.8);
}
.sidebar { //侧边栏
  opacity: 0.8;
}
.content-wrap { //文章
  opacity: 0.8;
}
.popup { //搜索框
  opacity: 0.8;
}